body {
    font-family: Arial, sans-serif;
    padding: 50px;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
}

button add-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button del-btn {
    background-color: #f44336;
    color: white;
    border: none;
}

button ls-btn {
    background-color: blue;
    color: white;
    border: none;
}

